.Hangman {
  margin: 0 auto;
  text-align: center;
}

.Hangman img {
  max-width: 100%;
  height: auto;
}

.GameBoard-Container {
  background-image: url(gameboardbg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  height: 100vh;
  width: 100%;
}

.GameBoardInfo {
  display: inline-block;
  padding: 10px;
  background-color: transparent;
  font-size: 20px;
  text-align: center;
  margin-top: 1%;
}

.GameBoardInfo span {
  background-color: #0a0a0a;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 1%;
}

.Gameboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1%;
    width: 30%;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    opacity: 80%;
  }

  .Challengeboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    width: 20%;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    opacity: 90%;
  }
  
  .Gameboard-word {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
    flex-wrap: wrap;
  }

  .Gameboard-letter-box {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }
  
  .Gameboard-letter {
    margin: auto;
  }
  
  .Gameboard-guesses {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
  }

  .Gameboard-guesses button {
    background-color: #000;
    color: whitesmoke;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
  }

  .Gameboard-guesses button:hover {
    background-color: #303030;
    transform: scale(1.1);
  }

  .username-input {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 2px solid #ccc;
    outline: none;
  }
  
  .submit-btn {
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-left: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .submit-btn:hover {
    background-color: #0069d9;
  }
  
  .Gameboard-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    
  }
  
  .Gameboard-buttons button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(78, 78, 78);
    color: aliceblue;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .Gameboard-buttons button:hover {
    background-color: #0a0a0a;
    transform: scale(1.1);
  }

  .Gameboard-buttons button.disabled {
    background-color: #acabab;
    cursor: default;
  }

  button.show-answer {
    font-size: 1.2em;
    background-color: #800080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .popup-content button {
    background-color: #000;
    color: whitesmoke;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    margin: auto;
  }

  .popup-content button:hover {
    background-color: #303030;
    transform: scale(1.1);
  }

  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .popup-close-btn {
    background-color: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 1.5rem;
    outline: none;
    margin: auto;
    margin-left: 95%;
  }
  .popup-close-btn:hover {
    color: #f00;
  }  