.home-page-container {
    background-image: url(gameboardbg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    /* justify-content: end; */
    height: 100vh;
  }

  .home-page-box {
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-top: 15%;
    text-align: center;
    margin: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    opacity: 90%;
  }
  
  .home-page-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
    border: 2px solid black;
    padding: 10%;
    text-align: center;
  }

  .btn-primary {
    background-color: #ffffff;
    border-color: #ffffff;
    /* background-image: url('https://www.transparenttextures.com/patterns/brick-wall.png'); */
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border: none;
    box-shadow: none;
    padding: 5%;
    border-radius: 10px;
    margin: 5%;
    font-size: x-large;
    width: 100%;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #585858;
    border-color: #585858;
    /* background-image: url('https://www.transparenttextures.com/patterns/brick-wall.png'); */
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    background-image: url('https://www.transparenttextures.com/patterns/brick-wall.png');
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border: none;
    box-shadow: none;
  }
  
  .btn-secondary:hover {
    background-image: url('https://www.transparenttextures.com/patterns/brick-wall.png');
    background-color: #6c757d;
    border-color: #6c757d;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  }
  
  .btn-warning {
    background-image: url('https://www.transparenttextures.com/patterns/brick-wall.png');
    background-color: #7e6526;
    border-color: #ffc107;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border: none;
    box-shadow: none;
  }
  
  .btn-warning:hover {
    background-image: url('https://www.transparenttextures.com/patterns/brick-wall.png');
    background-color: #7c6019;
    border-color: #a77d00;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  }
  